In [27]:
import json

import pandas as pd

In [28]:
file = "logs/IID-B600-C0.1-MNIST.txt"

In [29]:
def remove_blank_spaces(file_name):
    file_open = open(file_name, "r")
    cleaned = []
    for line in file_open.readlines():
        if len(line) < 10:
            continue
        cleaned.append(eval(line))

    return pd.DataFrame(cleaned)

In [30]:
def remove_duplicates(df_input):
    df_input = df_input.drop_duplicates().reset_index(drop=True)
    
    return df_input

In [31]:
def fix_comm_round(df_input):
    df_input['comm_round'] = df_input.index.values + 1
    first_acc_index = df_input[df_input['test_acc'] > 0.9699].index[0]
    df_input = df_input.iloc[:first_acc_index+1]
    
    return df_input

In [32]:
def write_back_to_file(df_input, file_name):
    file_open = open(file_name, "w+")
    for row in df_input.to_dict("records"):
        file_open.write(json.dumps(row))
        file_open.write("\n")
    file_open.close()
    
    return "Write success."

In [33]:
df = remove_blank_spaces(file)
print(df.shape)
df.head()

(3998, 7)

     C    B  comm_round  train_acc  test_acc  train_loss  test_loss
0  0.1  600           1     0.1750    0.1766     12.8010    12.7859
1  0.1  600           2     0.2436    0.2464     11.5673    11.5301
2  0.1  600           2     0.2436    0.2464     11.5673    11.5301
3  0.1  600           3     0.3491    0.3540      9.7809     9.6699
4  0.1  600           3     0.3491    0.3540      9.7809     9.6699

In [34]:
df = remove_duplicates(df)
print(df.shape)
df.head()

(3000, 7)

     C    B  comm_round  train_acc  test_acc  train_loss  test_loss
0  0.1  600           1     0.1750    0.1766     12.8010    12.7859
1  0.1  600           2     0.2436    0.2464     11.5673    11.5301
2  0.1  600           3     0.3491    0.3540      9.7809     9.6699
3  0.1  600           4     0.4363    0.4445      8.4599     8.2844
4  0.1  600           5     0.4933    0.5055      7.5995     7.3989

In [35]:
df = fix_comm_round(df)
print(df.shape)
df.head()

(2526, 7)

     C    B  comm_round  train_acc  test_acc  train_loss  test_loss
0  0.1  600           1     0.1750    0.1766     12.8010    12.7859
1  0.1  600           2     0.2436    0.2464     11.5673    11.5301
2  0.1  600           3     0.3491    0.3540      9.7809     9.6699
3  0.1  600           4     0.4363    0.4445      8.4599     8.2844
4  0.1  600           5     0.4933    0.5055      7.5995     7.3989

In [36]:
write_back_to_file(df, file)

'Write success.'