In [25]:
import json
import os

import pandas as pd

In [26]:
os.chdir("/home/bahy/research/icl-prelab-assignment/")

In [27]:
!pwd

/home/bahy/research/icl-prelab-assignment

#### Log Extractor

#### Log Cleaner

In [113]:
file = "logs/NONIID-B600-C0.1-MNIST-CNN.txt"

In [114]:
def remove_blank_spaces(file_name):
    file_open = open(file_name, "r")
    cleaned = []
    for line in file_open.readlines():
        if len(line) < 50:
            continue
        cleaned.append(eval(line))

    return pd.DataFrame(cleaned)

In [115]:
def remove_duplicates(df_input):
    df_input = df_input.drop_duplicates().reset_index(drop=True)
    
    return df_input

In [116]:
def fix_comm_round(df_input):
    df_input['comm_round'] = df_input.index.values + 1
    first_acc_index = df_input[df_input['test_acc'] > 0.9699].index[0]
    df_input = df_input.iloc[:first_acc_index+1]
    
    return df_input

In [117]:
def write_back_to_file(df_input, file_name):
    file_open = open(file_name, "w+")
    for row in df_input.to_dict("records"):
        file_open.write(json.dumps(row))
        file_open.write("\n")
    file_open.close()
    
    return "Write success."

In [118]:
df = remove_blank_spaces(file)
print(df.shape)
df.head()

(1620, 7)

     C    B  comm_round  train_acc  test_acc  train_loss  test_loss
0  0.1  600           1     0.0866    0.0856     13.8148    13.9276
1  0.1  600           2     0.1398    0.1332     12.9615    13.0543
2  0.1  600           3     0.1499    0.1517     12.8511    12.7558
3  0.1  600           4     0.0983    0.0971     14.4698    14.5108
4  0.1  600           5     0.1008    0.1034     14.4630    14.4205

In [119]:
df = remove_duplicates(df)
print(df.shape)
df.head()

(1620, 7)

     C    B  comm_round  train_acc  test_acc  train_loss  test_loss
0  0.1  600           1     0.0866    0.0856     13.8148    13.9276
1  0.1  600           2     0.1398    0.1332     12.9615    13.0543
2  0.1  600           3     0.1499    0.1517     12.8511    12.7558
3  0.1  600           4     0.0983    0.0971     14.4698    14.5108
4  0.1  600           5     0.1008    0.1034     14.4630    14.4205

In [120]:
df = fix_comm_round(df)
print(df.shape)
df.head()

(1620, 7)

     C    B  comm_round  train_acc  test_acc  train_loss  test_loss
0  0.1  600           1     0.0866    0.0856     13.8148    13.9276
1  0.1  600           2     0.1398    0.1332     12.9615    13.0543
2  0.1  600           3     0.1499    0.1517     12.8511    12.7558
3  0.1  600           4     0.0983    0.0971     14.4698    14.5108
4  0.1  600           5     0.1008    0.1034     14.4630    14.4205

In [121]:
write_back_to_file(df, file)

'Write success.'